<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>
                
            </div>

            <button class="button is-primary" routerLink="/new-list">+ New List</button>
        </div>

        <div class="task-list-container has-background-light">
            <div>
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <button class="task" *ngFor="let task of tasks">
                <p>{{task.title}}</p>
            </button>
            </div>
            <div class="add-task-pos">
            <button class="add-task button is-primary" routerLink="/lists/{{this.listId}}/new-task"><h1 class="plus">+</h1></button></div>
        </div>

    </div>
</div>